<html>
  <head>
    <title>about</title>
    <link href="style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mingzat&family=Pontano+Sans:wght@300..700&family=Zen+Kaku+Gothic+Antique&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="<%= bgClass %>" >
    <%- include('header.ejs', { }); %>

    <div class="about-container">
      <div class="about-content">
        <h2>About</h2>
        
        <p>
            <strong>alternative interfaces </strong>
          is a site for product & technology designers,
          lovers, researchers, curious folks to explore and converse with each
          other about alternative interfaces for personal computers.
        </p>
        <p>
          On this site you won't run into the crap you would on other tech news sites, 
          like ads, crypto, or company politic. Here, we focus on concrete products, features, 
          problems and solutions. We stay organized and don't just host a mishmosh of 
          ALL tech - just alternative interfaces for personal computers. 
        </p>
        <img src="/images/apple-iphone-x-pictures-5.png" alt="About" class="abt-icon"  />
        <p>We question why these ^ are the way they are. We propose the radical alternatives
          and how their designs might change our interactions with them, with each other, and the world.
        </p>
        <img src="/images/chat_imgs.png" alt="About" class="abt-icon"  />
        <p>
          We are passionate critics and dreamers when it comes to those
          screens we carry around with us, we adventure new ways we can engage
          with our personal computers, talk about the wins, pitfalls, and
          concerns of revolutionary design, and share more concepts.
        </p>
        
        <img src="/images/visuals2.png" alt="About" class="abt-icon" />
        <p>
          We embrace the brink of current, near future, and speculative, the
          possible and happening, and what could be. We have hopes for helping
          users. We try to envision implications of seeing these products on the shelf, we yearn for
          the most humane life that technology enhances, and is considerate of.
        </p>
        <br>
        <br>
        <br>
      </div>
    </div>
  </body>
</html>
