<html>
  <head>
    <title>Meta Ray-bans Glasses</title>
    <link href="style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mingzat&family=Pontano+Sans:wght@300..700&family=Zen+Kaku+Gothic+Antique&display=swap"
      rel="stylesheet"
    />
  </head>

  <body class="<%= bgClass %>">
    <%- include('header.ejs', { }); %>

    <div class="about-container">
      <div class="about-content">
        <h2>Meta Ray-bans</h2>
        <p>
          Content derived from
          <a
            href="https://www.cnet.com/tech/mobile/meta-ray-bans-6-months-later-the-best-ai-companion-happens-to-be-camera-glasses/"
            >CNET</a
          >
          <br />
          By Scott Stein
        </p>
        <img src="/images/rayban_p2.png" alt="About" width="500px" />
        <br>
        <p>
          The Meta Ray-bans are headphones, a voice AI assistant, and camera all
          in one. They have no AR / VR features, their only "interface" is the
          app that allows you to load any pics/vids you take and other
          administrative tasks.
        </p>
        <br>
        <img src="/images/meta-app.gif" alt="About" width="500px" />
        <br>
        <p>
          "These glasses can be AI companions, much like

          <a href="/ai-pin">Humane's AI Pin</a>
          and the Rabbit R1"
        </p>
        <p>"In practice, that companionship has limits and awkwardness."</p>
        <p>
          "Waking the camera mode for AI, for example, requires saying, 'Hey
          Meta, look and...' to preface whatever you're asking, which feels like
          a mouthful."
        </p>
        <p>
          Not to mention, the strangeness of speaking to yourself in public.
        </p>
        <br>
        <img src="/images/ai_assistant.gif" alt="About" width="500px" />
        <br>
        <p>
          And again similar to Humane's AI pin, the AI assistant capabilities
          and use cases aren't always intuitive. It's hard to know if it will
          respond "I can't do that yet" and that's if you even remember to ask.
        </p>
        <!-- insert media -->
        <p>
          "The right arm of the Ray-Bans has a touchpad with a volume slider and
          a tap-to-play [song] function."
        </p>
        <p>
          The interface interaction with the volume here feels VERY natural, not
          to mention frickin cool, you feel like a spy, and the action feels
          almost a little addictive.
        </p>
        <br>
        <img src="/images/glasses_music.png" alt="About" width="500px" />
        <br>
        <p>
          "The speakers, located right under the arms near my ears, deliver
          surprisingly solid sound without much audio bleed."
        </p>
        <p>
          Here Stein notes, similar to my experience with them, that in some
          instances, we still end up yearning for noise cancellation. Sometimes
          it's refreshing to not feel like you have cotton in your ears when
          listening to music, but other times you want to be in your own bubble.
        </p>
        <p>So earbuds are safe from total replacement.</p>
        <br>
        <img src="/images/meta-music-diagram.gif" alt="About" width="500px" />
        <br />
        <p>
          "Photos are snapped by either saying, 'Hey Meta, take a photo/video,'
          or by pressing or pressing and holding a little shutter button on the
          right arm."
        </p>
        <br />
        <img src="/images/meta-picture.gif" alt="About" width="500px" />
        <br />
        <p>
          "These glasses can record photos and one-minute video clips, too, and
          this is where I've really come to love these glasses as a vacation
          companion."
        </p>
        <br />
        <img src="/images/trip_buddy.jpg" alt="About" width="500px" />
        <p>
          <br />
          <strong> "They're memory makers." </strong>
        </p>
        <br />

        <video
          src="images/wburg_bridge.mp4"
          width="350"
          preload="none"
          playsinline
          autoplay
          loop
          muted
        >
          Your browser does not support the video tag.
        </video>
        <br />
        <p>
          "What about privacy? The camera on these glasses hides in one temple.
          A white LED light comes on when recording, and a shutter snap sounds.
          Both are pretty subtle, though, and I've recorded in lots of places
          where other people nearby didn't seem to notice"
        </p>
        <br>

        <img src="/images/take_picture.jpg" alt="About" width="500px" />
        <br />
        <p>
          "Nobody knows they're tech when I wear these black Wayfarer glasses
          around".
        </p>
        <p>
          <strong> "Luckily, they also match my style" </strong>
        </p>
        <!-- insert media someone wearing them -->
        <p>
          Techessories (tech accessories) don't always match the preference or
          liking of the user. The user has to be attracted to wearing such
          accessory, and not everyone is a glasses person!
        </p>
        <p>
          They do come in different frame styles and colors. In fact, quite a
          few,
          <em>and</em>
          different lenses - clear, prescription, transitions, shades or
          otherwise.
        </p>
        <br>
        <img src="/images/meta-colors.gif" alt="About" width="500px" />
        <br />
        <p>A semi-let down: the battery life.</p>
        <br />
        <img src="/images/meta-charging.gif" alt="About" width="500px" />
        <br>
        <p>
          Yes, they charge fairly quickly and between the battery life between
          case and itself is 36+ hours, but the glasses themselves tend to die
          after a few hours of continuous usage. And while they're charging in
          the case you end up using your backups - your phone, analog glasses,
          and headphones anyways!
        </p>

        <!-- comment section  -->
        <div class="comment_section">
            <div class="form-container">
              <form method="GET" action="/send_glasses">
                <div class="form-content">
                  <h2>What Do You Think?</h2>
                  <div class="type_sub">
                    <textarea class = "message-box" name="message" value="enter a message"></textarea>
                    <input
                      type="submit"
                      name="submitbutton"
                      value="submit →"
                    />
                  </div>
                  <br>
                  
                </div>
              </form>
            </div>
    
            <div class="post-container" >
                <% posts.forEach(post => { %>
                <%= ' " ' + post.post +' " ' %>
                <br>
                <br>
                <% }) %>
            </div>
          </div>
            <!-- end comment section  -->
      </div>
    </div>
  </body>
</html>
