<nav>
  
    <div class="nav-link">
      <% if (page === "home") { %>
        <a href="/about">
            about 
            <img src="/images/qmark2.png" alt="About" class="nav-icon">
        </a>
      <% } if (page != "home"){ %>
      <a href="/"> â† home
        <img src="/images/symbols_home.png" alt="About" class="nav-icon">
      </a>
      <% } %>
    </div>
    <div class="site-name">
      <% if (page === "home") { %>
        <h1>alternative interfaces</h1>
      <% } if (page != "home"){ %>
      
      <% } %>
      
    </div>
  
</nav>
